<swiper style="margin-top: 1%;" [slidesPerView]="1" [spaceBetween]="50" [navigation]="true" [pagination]="{ clickable: true }" [scrollbar]="{ draggable: true }">
    <ng-template swiperSlide><img src="../../../assets/artificial-intelligence-3382507__340.jpg"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/code-1839406__480.jpg"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/istockphoto-537331500-170667a.jpg"></ng-template>
</swiper>

<mat-card class="example-card">
    <mat-card-content>
        <mat-card-title style="text-align: center;">Welcome to my personal website!</mat-card-title>
        <p>Greetings, I am Gigachadov, a programmer with many years of experience. I love all things code and technology and am happy to share my knowledge and experience with you. I believe that technology can make people's lives much easier, you just need
            to send them in the right direction. I develop web and mobile applications that will help your business work more efficiently and innovatively. I don't just do my job, I enjoy it. I believe I can help you, so don't hesitate to contact me.
            I will be happy to answer your questions and help you make your business better.</p>
    </mat-card-content>
</mat-card>