<div class="main-image">
<div class = "flex-homepage-body">
<div class="container">
    <div>
        <h1>Hello and welcome to my work page</h1><br>
        <h2>This page is created for viewing my projects, to-do lists and cv and different job applies <br> I can also add a new project and tasks</h2>
    </div>
</div>
<div class="container">
    <div>
        <a routerLink="/projects">
            <button type="button" class="btn btn-secondary">Projects tab</button>
        </a>
        <a routerLink="/todolist">
            <button type="button" class="btn btn-secondary">To-do list</button>
        </a>
        <a routerLink="/cv">
            <button type="button" class="btn btn-secondary">CV</button>
        </a>
    </div>
</div>
</div>
<div class = "flex-homepage-body">
    <div class="container">
    </div>
    <div class="container">
    </div>
    </div>
</div>