@import "swiper/scss";
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
.flex-homepage-body {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: stretch;
}

.flex-homepage-body>div {
    flex: 1 1 auto;
}

.example-card {
    margin-top: 1%;
    max-width: 80%;
    overflow-x: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.flex-homepage-body h1,
h2,
li {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont;
}

.homepage-item {
    flex-grow: 2;
    color: White;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont;
    border-radius: 5px;
}

.swiper {
    width: 100%;
    max-height: 100%;
}

.swiper-slide img {
    width: 100%;
    max-height: 400px;
    margin-bottom: 1%;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.main-image {
    background-color: white;
}